@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using what_u_gonna_eat.ViewModels;
@model ProfileViewModel;
<link rel="stylesheet" href="~/css/Profile.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Profile";
}

<div class="profile-grid">
    <!-- column1 info -->
    <div class="profile-container">
        <div class="title-section">
            <div class="title-circle"></div>
            Profile
        </div>

        <div class="info-edit" type="text" value="Username">
            Username :<span class="show-text"> @Model.account.Username</span>
        </div>

        <div class="info-edit">
            Email :<span class="show-text"> @Model.account.Email</span>
        </div>

        <div class="info-edit">
            <div>Tel. :</div>
            @if (Model.account.PhoneNumber != null)
            {
                <span>@Model.account.PhoneNumber</span>
            }
            else
            {
                <span> none </span>
            }
        </div>

        <form method="get"  asp-controller="Profile" asp-action="Edit">
            <button method="get"  asp-controller="Profile" asp-action="Edit" class="editbtn">
                Edit
            </button>
        </form>

    </div>

    <!-- column2 History -->

    <div class="history space-y-5">
        <h1 class="text-his">Your Activities</h1>
        <div class="line" style="padding-bottom:0px"></div>
        <div class="max-h-[420px] space-y-8" style="margin-top:0px">
            <div class="flex flex-col text-white px-4" style="max-height:134px;margin-top:5px;background-color:rgba(0,0,0,0.3);padding-bottom:5px;padding-top:0px">
                <p class="yellow text-lg lg:text-xl" style="color:#FDBF46;margin-left:15px" >Deliver Post</p>
                <div class="mx-3 overflow-y-scroll overflow-x-hidden max-h-[143px]">
                    @if (Model.deliverposts.Any(p => p.PosterId == Model.account.Id))
                    {
                        @foreach (var post in Model.deliverposts)
                        {
                            @if (post.PosterId == Model.account.Id)
                            {
                            
                                 string formattedDateTime = post.CreatedDate.ToString("yyyy/MM/dd HH:mm tt");
                            
                                <div class="grid grid-cols-12 w-full items-center space-x-2">
                                    <div class="col-span-3 lg:col-span-3 text-xs min-[500px]:text-base  min-[900px]:text-base min-[1080px]:text-base">@formattedDateTime</div>
                                    <div class="col-span-5 lg:col-span-6 text-xs min-[500px]:text-base min-[900px]:text-lg thai">คุณรับฝากที่ร้าน <span class="yellow" style="color:#FFBF4B">@post.Restaurant</span></div>
                                    <div class="col-span-4 lg:col-span-3 flex flex-row items-center  justify-end">
                                        <div class="flex justify-center shrink-0">
                                            <form method="post" asp-action="Delete" asp-controller="DeliverPost" asp-route-postId="@post.Id">
                                                <button id="deleteButton"  class="rounded-full bg-red-600 px-3 text-xs min-[500px]:text-sm xl:text-base" asp-confirm="Are you sure you want to delete this post">Delete</button>
                                            </form>
                                        </div>
                                        <button name="deliver" id="@post.Id" class="deliverdetailbtn">
                                            <span class="iconify w-5 min-[900px]:w-6 min-[1200px]:w-10 shrink-0" data-icon="ri:arrow-drop-down-line" data-width="35" data-height="35"></span>
                                        </button>
                                    </div>
                                
                                </div>
                                <div class="hiddenDeliverBox" id="@post.Id" name="deliver" style="display:none;background-color:rgba(0,0,0,0.25);padding:5px 16px">
                                    @if (post.Status)
                                    {
                                        <div>Status : <p style="color:seagreen">Open</p></div>
                                    }
                                    else
                                    {
                                        <div>Status : <p style="color:firebrick">Close</p></div>
                                    }
                                    <div>
                                        <p>Description : @post.Description</p>
                                    </div>
                                    @if (post.Orderers != null && post.Orderers.Any())
                                    {
                                        <div class="flex flex-row space-x-2">
                                            <label style="width:30%">Orderers : </label>
                                            <div class="flex flex-col">
                                                <br>
                                                @foreach (var orderer in post.Orderers)
                                                {
                                                    <li class="thai"><p style="color:#FFBF4B">@orderer.Orderer?.Username</p> order <p style="color:#FFBF4B">@orderer.Menu</p> Tel : @orderer.Orderer?.PhoneNumber (@orderer.Description)</li>
                                                }
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <p>Oderer: none</p>
                                    }
                                </div>
                                <hr />

                            }
                        }
                    }
                    else
                    {
                        <div class="p-3">
                            You don't have any Deliver Posts yet.
                        </div>
                    }
                

                </div>
            </div>

            <div class="flex flex-col text-white px-4 " style="margin-top:0px;padding-top:5px;padding-bottom:5px;max-height:135px">
                <p class="yellow text-lg lg:text-xl" style="color:#FDBF46;margin-left:15px">Eater Post</p>
                <div class="mx-3 overflow-y-scroll overflow-x-hidden max-h-[142px]" >
                    @if (Model.eaterposts.Any(p => p.PosterId == Model.account.Id))
                    {
                        @foreach (var post in Model.eaterposts)
                        {
                            @if (post.PosterId == Model.account.Id)
                            {

                                string formattedDateTime = post.CreatedDate.ToString("yyyy/MM/dd HH:mm tt");

                                <div class="grid grid-cols-12 w-full items-center space-x-2">
                                    <div class="col-span-3 lg:col-span-3 text-xs min-[500px]:text-base  min-[900px]:text-base min-[1080px]:text-base">@formattedDateTime</div>
                                    <div class="col-span-5 lg:col-span-6 text-xs min-[500px]:text-base min-[900px]:text-lg thai">คุณฝากซื้อ <span class="yellow" style="color:#FFBF4B">@post.Menu</span></div>
                                    <div class="col-span-4 lg:col-span-3 flex flex-row items-center  justify-end">
                                        <div class="flex justify-center shrink-0">
                                            <form method="post" asp-action="Delete" asp-controller="EaterPost" asp-route-postId="@post.Id">
                                                <button id="deleteButton" class="rounded-full bg-red-600 px-3 text-xs min-[500px]:text-sm xl:text-base" asp-confirm="Are you sure you want to delete this post">Delete</button>
                                            </form>
                                        </div>
                                        <button name="deliver" id="@post.Id" class="eaterdetailbtn">
                                            <span class="iconify w-5 min-[900px]:w-6 min-[1200px]:w-10 shrink-0" data-icon="ri:arrow-drop-down-line" data-width="35" data-height="35"></span>
                                        </button>
                                    </div>

                                </div>

                                <div class="hiddenEaterBox" id="@post.Id" name="deliver" style="display:none;background-color:rgba(0,0,0,0.25);padding:5px 16px">
                                    @if (post.Status)
                                    {
                                        <div>Status : <p style="color:seagreen">Open</p></div>
                                    }
                                    else
                                    {
                                        <div>Status : <p style="color:firebrick">Close (Already have buyer)</p></div>
                                    }
                                    <div>
                                        <p>Description : @post.Description</p>
                                    </div>
                                    @if (post.Status == false)
                                    {
                                        <div class="flex flex-row space-x-2">
                                            <p>Buyer: <p style="color:#FFBF4B">@Model.eaterpostaccounts.FirstOrDefault(e => e.EaterPostId == post.Id)?.Buyer?.Username </p>
                                        </div>
                                        <div class="flex flex-row space-x-2">
                                            <p> Buyer's phone number : @Model.eaterpostaccounts.FirstOrDefault(e => e.EaterPostId == post.Id)?.Buyer?.PhoneNumber</p>
                                        </div>
                                    }
                                    else
                                    {
                                        <p style="color:#FFBF4B">Buyer: none</p>
                                    }
                                </div>
                                <hr />

                            }
                        }
                    }
                    else
                    {
                        <div class="p-3">
                            You don't have any Eater Posts yet.
                        </div>
                    }


                </div>
            </div>

            <div class="flex flex-col text-white px-4" style="max-height:110px;margin-top:5px;background-color:rgba(0,0,0,0.3);padding-bottom:10px;padding-top:5px">
                <p class="yellow text-lg lg:text-xl" style="color:#FDBF46;margin-left:15px">Buyer</p>
                <div class="mx-3 overflow-y-scroll overflow-x-hidden max-h-[110px]" style="max-height:100px">
                    @if (Model.eaterpostaccounts.Any(b => b.BuyerId == Model.account.Id))
                    {
                        @foreach (var post in Model.eaterpostaccounts)
                        {
                            @if (post.BuyerId == Model.account.Id)
                            {

                                <div class="grid grid-cols-12 w-full items-center space-x-2">

                                    <div class="col-span-8 text-xs min-[500px]:text-base min-[900px]:text-lg thai">คุณรับซื้อ <span class="yellow" style="color:#FFBF4B">@post.EaterPost.Menu</span> ให้กับ <span class="yellow" style="color:#FFBF4B">@post.EaterPost.Poster.Username</span> </div>
                                    <div class="col-span-4 flex flex-row items-center  justify-end">
                                        <div class="flex justify-center shrink-0">
                                            <form method="post" asp-action="CancleBuyer" asp-controller="EaterPost" asp-route-buyerId="@post.Id">
                                                <button id="deleteButton" class="rounded-full bg-red-600 px-3 text-xs min-[500px]:text-sm xl:text-base" asp-confirm="Are you sure you want to delete this post">Cancle</button>
                                            </form>
                                        </div>
                                        <button name="deliver" id="@post.Id" class="buyerdetailbtn">
                                            <span class="iconify w-5 min-[900px]:w-6 min-[1200px]:w-10 shrink-0" data-icon="ri:arrow-drop-down-line" data-width="35" data-height="35"></span>
                                        </button>
                                    </div>

                                </div>

                                <div class="hiddenBuyerBox" id="@post.Id" name="deliver" style="display:none;background-color:rgba(0,0,0,0.25);padding:5px 16px">
                                    <div>
                                        <p class="thai">Description : @post.EaterPost.Description</p>
                                    </div>
                                    <div>
                                        <p>@post.EaterPost.Poster.Username 's phone number : @post.EaterPost.Poster.PhoneNumber</p>
                                    </div>
                                </div>
                                <hr />

                            }
                        }
                    }
                    else
                    {
                        <div class="p-3">
                            You didn't <span class="yellow">buy</span> for anyone yet.
                        </div>
                    }

                </div>
            </div>

            <div class="flex flex-col text-white px-4" style="margin-top:0px;padding-top:5px;padding-bottom:5px;max-height:110px">
                <p class="yellow text-lg lg:text-xl" style="color:#FDBF46;margin-left:15px">Order</p>
                <div class="mx-3 overflow-y-scroll overflow-x-hidden max-h-[140px]">
                    @if (Model.orders.Any(o => o.OrdererId == Model.account.Id))
                    {
                        @foreach (var post in Model.orders)
                        {
                            @if (post.OrdererId == Model.account.Id)
                            {

                                <div class="grid grid-cols-12 w-full items-center space-x-2">

                                    <div class="col-span-8 text-xs min-[500px]:text-base min-[900px]:text-lg thai">คุณฝาก <span class="yellow" style="color:#FFBF4B">@post.DeliverPost?.Poster?.Username</span> ซื้อ <span class="yellow" style="color:#FFBF4B">@post.Menu</span> </div>
                                    <div class="col-span-4 flex flex-row items-center  justify-end">
                                        <div class="flex justify-center shrink-0">
                                            <form method="post" asp-action="CancleOrder" asp-controller="DeliverPost" asp-route-orderId="@post.Id">
                                                <button id="deleteButton" class="rounded-full bg-red-600 px-3 text-xs min-[500px]:text-sm xl:text-base" asp-confirm="Are you sure you want to delete this post">Cancle</button>
                                            </form>
                                        </div>
                                        <button name="deliver" id="@post.Id" class="orderdetailbtn">
                                            <span class="iconify w-5 min-[900px]:w-6 min-[1200px]:w-10 shrink-0" data-icon="ri:arrow-drop-down-line" data-width="35" data-height="35"></span>
                                        </button>
                                    </div>

                                </div>

                                <div class="hiddenOrderBox" id="@post.Id" name="deliver" style="display:none;background-color:rgba(0,0,0,0.25);padding:5px 16px">
                                    <div>
                                        <p class="thai">Description : @post.Description</p>
                                    </div>
                                    <div>
                                        <p>@post.DeliverPost?.Poster?.Username 's phone number : @post.DeliverPost?.Poster?.PhoneNumber</p>
                                    </div>
                                </div>
                                <hr />

                            }
                        }
                    }
                    else
                    {
                        <div class="p-3">
                            You didn't <span class="yellow">order</span> anything yet.
                        </div>
                    }

                </div>
            </div>
        </div>

        
        
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script>
        var deleteButton = document.getElementById("deleteButton");

        // Add an onclick event listener to the button
        deleteButton.addEventListener("click", function (event) {
            // Display the confirmation dialog
            var confirmDelete = confirm("Are you sure you want to delete this object?");

            // If the user clicked "Cancel", prevent the form submission
            if (!confirmDelete) {
                event.preventDefault();
            }
        });

        const allDeliverDetailBtn = document.querySelectorAll(".deliverdetailbtn")
        const allDeliverHidBox = document.querySelectorAll(".hiddenDeliverBox")
        const allEaterDetailBtn = document.querySelectorAll(".eaterdetailbtn")
        const allEaterHidBox = document.querySelectorAll(".hiddenEaterBox")
        const allBuyerDetailBtn = document.querySelectorAll(".buyerdetailbtn")
        const allBuyerHidBox = document.querySelectorAll(".hiddenBuyerBox")
        const allOrderDetailBtn = document.querySelectorAll(".orderdetailbtn")
        const allOrderHidBox = document.querySelectorAll(".hiddenOrderBox")


        allDeliverDetailBtn.forEach((element) => {
            element.addEventListener("click",() => {
                allDeliverHidBox.forEach((elemint) => {
                    if(element.id == elemint.id){
                        console.log("click")
                        var display = window.getComputedStyle(elemint).getPropertyValue("display")
                        console.log(display)
                        if (display == "block") {
                            elemint.style.display = "none"
                            element.style.transform = "rotate(0deg)"
                        }
                        else{
                            elemint.style.display = "block"
                            element.style.transform = "rotate(180deg)"
                        }
                            
                    }
                })
            })
        })

        allEaterDetailBtn.forEach((element) => {
            element.addEventListener("click",() => {
                allEaterHidBox.forEach((elemint) => {
                    if(element.id == elemint.id){
                        console.log("click")
                        var display = window.getComputedStyle(elemint).getPropertyValue("display")
                        console.log(display)
                        if (display == "block") {
                            elemint.style.display = "none"
                            element.style.transform = "rotate(0deg)"
                        }
                        else{
                            elemint.style.display = "block"
                            element.style.transform = "rotate(180deg)"
                        }
                            
                    }
                })
            })
        })

        allBuyerDetailBtn.forEach((element) => {
            element.addEventListener("click",() => {
                allBuyerHidBox.forEach((elemint) => {
                    if(element.id == elemint.id){
                        console.log("click")
                        var display = window.getComputedStyle(elemint).getPropertyValue("display")
                        console.log(display)
                        if (display == "block") {
                            elemint.style.display = "none"
                            element.style.transform = "rotate(0deg)"
                        }
                        else{
                            elemint.style.display = "block"
                            element.style.transform = "rotate(180deg)"
                        }
                            
                    }
                })
            })
        })

        allOrderDetailBtn.forEach((element) => {
            element.addEventListener("click",() => {
                allOrderHidBox.forEach((elemint) => {
                    if(element.id == elemint.id){
                        console.log("click")
                        var display = window.getComputedStyle(elemint).getPropertyValue("display")
                        console.log(display)
                        if (display == "block") {
                            elemint.style.display = "none"
                            element.style.transform = "rotate(0deg)"
                        }
                        else{
                            elemint.style.display = "block"
                            element.style.transform = "rotate(180deg)"
                        }
                            
                    }
                })
            })
        })
    </script>
</div>