@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using what_u_gonna_eat.ViewModels;

@model ProfileViewModel;
@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>
<div>
    <p>Name : @Model.account.Username</p></p>
    <p>Email : @Model.account.Email</p>
    @if(Model.account.PhoneNumber != null)
    {
        <p>Phone number: @Model.account.PhoneNumber</p>
    }
    else
    {
        <p>Phone number: - </p>
    }

    <button asp-controller="Profile" asp-action="Edit">Edit</button>
</div>

<h1>History</h1>
<div>
    <h1>Your Deliver Post</h1>
    @foreach(var post in Model.deliverposts)
    {
        @if(post.PosterId == Model.account.Id)
        {
            <div style="border: 1px solid black">
                <p>Type : Deliver Post</p>
                <p>Restaurant : @post.Restaurant</p>
                <P>Description : @post.Description</P>
                @if (post.Orderers != null && post.Orderers.Any())
                {
                    <p>Orderers:</p>
                    <ul>
                        @foreach (var orderer in post.Orderers)
                        {
                            <li>@orderer.Orderer?.Username - @orderer.Menu - @orderer.Description</li>
                        }
                    </ul>
                }
                else
                {
                    <p>Oderer: none</p>
                }
                <!-- Use the asp-confirm attribute to display a confirmation dialog -->
                <form method="post" asp-action="Delete" asp-controller="DeliverPost" asp-route-postId="@post.Id">

                    <button id="deleteButton" class="btn btn-danger" asp-confirm="Are you sure you want to delete this post">Delete</button>
                </form>
            </div>
        }
    }
    <h1>Your Eater Post</h1>
    @foreach (var post in Model.eaterposts)
    {
        @if (post.PosterId == Model.account.Id)
        {
            <div style="border: 1px solid black">
                <p>Type : Eater Post</p>
                <p>Menu : @post.Menu</p>
                <P>Description : @post.Description</P>
                <p>Buyer: @Model.eaterpostaccounts.FirstOrDefault(e => e.EaterPostId == post.Id)?.Buyer?.Username</p>
                
                    <!-- Use the asp-confirm attribute to display a confirmation dialog -->
                <form method="post" asp-action="Delete" asp-controller="EaterPost" asp-route-postId="@post.Id">
                    <button id="deleteButton" class="btn btn-danger" asp-confirm="Are you sure you want to delete this post">Delete</button>
                </form>
            </div>
        }
    }
</div>
<script>
    var deleteButton = document.getElementById("deleteButton");

    // Add an onclick event listener to the button
    deleteButton.addEventListener("click", function (event) {
        // Display the confirmation dialog
        var confirmDelete = confirm("Are you sure you want to delete this object?");

        // If the user clicked "Cancel", prevent the form submission
        if (!confirmDelete) {
            event.preventDefault();
        }
    });
</script>