@{
    ViewData["Title"] = "Eater Post";
}
@using what_u_gonna_eat.ViewModels;
@model EaterPostView
<link rel="stylesheet" href="~/css/EaterPost.css" asp-append-version="true" />

<a id="button" class="iconify" data-icon="material-symbols:add-circle"></a>

<div id="modal" class="modal">
<div class="modal-content">
        <h2>Eater Post</h2>
        <div class="line"></div>
        <span class="close">&times;</span>
    <div class="content">

    <form method="POST" asp-controller="EaterPost" asp-action="Create" id="create-form">
        <div class="form-group">
                <label class="foodtext">Food : </label>
                <input class="boxinput" placeholder="กรอกชื่อเมนู"  asp-for="eaterPost.Menu" class="form-control" required="" />
        </div>

        <div class="form-group">
            <label class="foodtext">Description : </label>
                  
            <textarea id="textd" class="textd" placeholder="กรอกรายละเอียดร้านอาหาร หรือข้อมูลเพิ่มเติม" asp-for="eaterPost.Description" class="form-control" required="" ></textarea>
        </div>
        <button type="submit" asp-area="" asp-controller="EaterPost" asp-action="Create" class="submit">Create</button>
    </form>

        </div>
    </div>
</div>



<div class="grid grid-cols-1 gap-16 m-3 pt-6 md:grid-cols-2 lg:grid-cols-3 lg:px-10">
    
    @foreach (var post in @Model.eaterPosts)
    {
        <div class="flex flex-col card-p">

            <div class="header yellow-div p-2 items-center">
                <div class="grid grid-cols-10 h-full mx-2 py-2.5">
                    <div class="flex col-span-2 items-center justify-center">
                        <img class="w-16" style="border-radius: 50%;" src="https://cdn.discordapp.com/attachments/975683623804100679/1102511347100553216/image.png" alt="Rounded avatar">
                    </div>
                    <div class="flex col-span-8 items-center justify-center">
                        <div style="display:flex;flex-direction:column">
                            <p class="text-center text-xl dark-blue md:text-lg lg:text-2xl">@post.Poster?.Username</p>
                            <p class="text-center text-base md:text-sm lg:text-lg" style="color:#FA8100">#Eater</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex flex-row items-center h-full my-3 mx-4 divide-x-2 lg:mx-5">
                <div class="basis-3/5 h-full space-y-2.5 mr-4">
                    <p class="yellow" style="color : #FA8100">Food :</p>
                    <div>
                        <span class="px-3 py-0.5 text-xs border-2 border-black rounded-full md:text-sm thai">@post.Menu</span>
                    </div>
                    <p class="yellow" style="color : #FA8100">Detail :</p>
                    <textarea id="style-2" rows="4" class="resize-none disable-scroll thai text-ms md:text-sm block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border-black border-2 "
                              disabled>@post.Description
                    </textarea>
                    
                    <div class="bottom-0 left-0 text-sm  md:text-base"><p>@post.CreatedDate</p></div>
                </div>

                @if (post.Status == true && post.PosterId != Model.account.Id)
                {
                    <div class="flex basis-2/5 justify-center items-center h-full" style="border-color: #fdbf46;">
                        <form asp-action="OrderSubmit" asp-controller="EaterPost" method="post" asp-route-postId="@post.Id">
                            <button id="buttonwhenenable" type="submit" style="height:100px"><span class="iconify" data-icon="ri:checkbox-circle-line" style="color: #fdbf46;" data-width="100" data-height="100"></span></button>
                        </form>
                    </div>
                }
                else
                {
                    <div class="flex basis-2/5 justify-center items-center h-full" style="border-color: #fdbf46;">
                        
                        <button id="buttonwhendisable" type="submit" style="height:100px;cursor:default"><span class="iconify" data-icon="ri:checkbox-circle-line" style="color: lightgray;" data-width="100" data-height="100"></span></button>
                        
                    </div>
                }
                
            </div>
        </div>
    }

</div>
<script>
    var createForm = document.getElementById("create-form");

    // Add an onsubmit event listener to the form
    createForm.addEventListener("submit", function (event) {
        // Get the values of the form inputs
        var menu = document.getElementById("eaterPost_Menu").value;
        var description = document.getElementById("eaterPost_Description").value;

        // Display the confirmation dialog with the form values
        var confirmCreate = confirm("Are you sure you want to create this post?\nDetail:\n\tMenu: " + menu + "\n\tDescription: " + description);

        // If the user clicked "Cancel", prevent the form submission
        if (!confirmCreate) {
            event.preventDefault();
        }
    });

    // get button
    const btn = document.getElementById("button");
    // Get the modal element
    const modal = document.getElementById("modal");

    //get close
    const cls = document.getElementsByClassName("close")[0];
    // when onclick
    btn.onclick = function () {
        modal.style.display = "block";
    };

    // when click x
    cls.onclick = function () {
        modal.style.display = "none";
    };

    // click out x
    //window.onclick = function (event) {
    //    if (event.target == modal) {
    //        modal.style.display = "none";
    //    }
    //};

     src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js" 
</script>

