@{
    ViewData["Title"] = "Home Page";
}
@using what_u_gonna_eat.ViewModels;
@model DeliverPostView
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Ayo! Have Fun!</h1>
    <h1 class="text-center">Login</h1>
    <form method="POST" asp-controller="DeliverPost" asp-action="Create">
        <select asp-for="deliverPost.Restaurant" class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Select Restaurant</option>
            <option value="Pratep">Pratep</option>
            <option value="Sia O">Sia O</option>
            <option value="T PangGon">T PangGon</option>
        </select>
        
        <div class="form-group">
            <label>Description : </label>
            <input placeholder="กรอกรายละเอียดการรับอาหาร หรือข้อมูลเพิ่มเติม" asp-for="deliverPost.Description" class="form-control" required=""/>
        </div>

        <button type="submit" asp-area="" asp-controller="DeliverPost" asp-action="Create" class="btn btn-primary my-2">Create</button>
    </form>
    <p>Learn bout <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @if(Model.deliverPosts != null)
    {
        @foreach(var post in Model.deliverPosts)
        {
            <div>
                <hr />
                <p>@post.CreatedDate</p>
                <p>@post.Poster?.Username</p>
                <p>@post.Description</p>
                <p>@post.Restaurant</p>
                @if (post.Status == true && post.PosterId != Model.account.Id)
                {
                    <form method="post" asp-action="AddOrder" asp-asp-controller="DeliverPost" asp-route-postId="@post.Id">
                        <input placeholder="menu" asp-for="Order.Menu" class="form-control">
                        <input placeholder="Description" asp-for="Order.Description" class="form-control"> 
                        <button type="submit">Order</button>
                    </form>
                }
                <hr/>
            </div>
            
             
        }
    }



</div>
